<section class="<%= item.layout %>" itemscope itemprop="blogPost">
  <% if (item.link) { %> 
    <a href="<%- item.link %>" target="_blank"> 
  <% } else{ %>
    <a class="post-block-link" href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url">
  <% } %>
    <div class="dateinfo"><%= item.date.format('MMM') %><span><%= item.date.format('D') %></span></div>
    <h1 itemprop="name"><%= item.title %></h1>
    <% if (desc){ %>
      <% if(item.photos) { %>
        <% item.photos.forEach(function(photo, i){ %>
            <img src="<%- photo %>" class="photos">
        <% }) %>
      <% } %>
     <% if(item.description){ %>
      <p itemprop="description" ><%- item.description %></p>
      <% } else if(item.excerpt){ %>
          <p itemprop="description" ><%- item.excerpt %></p>
      <% } else {%>
<%
var getSnippet = function(text, width) {
  var snipped = "", cnt = 0;
  width = width * 2;
  for(var i = 0; i < text.length && cnt < width; i++) {
    if(text[i] == '&' && text[i+1] == '#') {
        while(i < text.length && text[i] != ';') {
            snipped += text[i];
            i++;
        }
        snipped += ';';
        cnt += 2;
    } else {
        snipped += text[i];
        cnt++;
    }
  }
  return snipped;
}
%>
           <% if(item.photos) { %>
           <% var snippet = item.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 280); %>
           <% snippet = getSnippet(item.content.replace(/<(?:.|\n)*?>/gm, ''), 140); %>
                <p itemprop="description">   
                <%- snippet %></p>
           <% } else { %>
            <% var snippet = item.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 400); %>
                <p itemprop="description" ><%- snippet %></p>
           <% } %>
        <% } %>
    <% } %>
    <footer class="article-footer">
    <%- partial('post/tags') %>
    </footer>
  </a>
</section>